body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}
.body_section {
  padding: 3% 5% 1%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lovely Home";
  src: local("Lovely Home"), url("Image/LovelyHome-9aBZ.ttf") format("truetype");
}

.brand-name,
.navbar-light .navbar-brand {
  /* font-family: "Brush Script MT"; */
  /* margin-bottom: 3px; */
  font-family: "Lovely Home";
  font-size: 50px;
  font-weight: bold;
  color: #351458;
}

@media only screen and (max-width: 764px) {
  .brand-name,
  .navbar-light .navbar-brand {
    font-family: "Lovely Home";
    font-size: 40px;
    font-weight: bold;
    color: #351458;
  }
}

.headerachor {
  color: black;
  margin: 0 7px 0 7px;
  font-size: 25px;
}

.headerachor:hover {
  background-color: #f1f1f1;
}

.Section1 {
  padding: 4% 0 3%;
}

.skill-img {
  width: 100%;
  height: 100%;
}

.Skill-heading {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 300;
}

#SkillBox {
  width: 95%;
  height: auto;
  margin: 40px auto;
  padding: 10px;
  border-radius: 50px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
}
#SkillBox img {
  width: 20%;
  height: 10%;
  margin: auto 35%;
  padding: 10px;
}
.SkillBar {
  width: 90%;
  height: 50px;
  position: relative;
  border-radius: 20px;
  /* background: rgba(17, 17, 17, .3); */
  background: #c5c2ff;
  margin: 20px auto;
}

#Skill-Database {
  width: 60%;
  border-radius: 20px;
  animation: Animate-Database 4s;
  -webkit-animation: Animate-Database 4s;
  -moz-animation: Animate-Database 4s;
  -o-animation: Animate-Database 4s;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Database {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes Animate-Database {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
@-moz-keyframes Animate-Database {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
@-o-keyframes Animate-Database {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
#Skill-Firewall {
  animation: Animate-Firewall5s;
  -webkit-animation: Animate-Firewall 5s;
  -moz-animation: Animate-Firewall 5s;
  -o-animation: Animate-Firewall 5s;
  border-radius: 20px;
  width: 850%;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Firewall {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes Animate-Firewall {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-moz-keyframes Animate-Firewall {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-o-keyframes Animate-Firewall {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
#Skill-Network {
  border-radius: 20px;
  animation: Animate-Network 5s;
  -webkit-animation: Animate-Network 5s;
  -moz-animation: Animate-Network 5s;
  -o-animation: Animate-Network 5s;
  width: 80%;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Network {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes Animate-Network {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes Animate-Network {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes Animate-Network {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
#Skill-Gitlab {
  animation: Animate-Gitlab 4s;
  -webkit-animation: Animate-Gitlab 4s;
  -moz-animation: Animate-Gitlab 4s;
  -o-animation: Animate-Gitlab 4s;
  border-radius: 20px;
  width: 75%;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Gitlab {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-webkit-keyframes Animate-Gitlab {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-moz-keyframes Animate-Gitlab {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-o-keyframes Animate-Gitlab {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}

#Skill-Linux {
  animation: Animate-Linux 4s;
  -webkit-animation: Animate-Linux 4s;
  -moz-animation: Animate-Linux 4s;
  -o-animation: Animate-Linux 4s;
  border-radius: 20px;
  width: 80%;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Linux {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes Animate-Linux {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes Animate-Linux {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes Animate-Linux {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
#Skill-Docker {
  animation: Animate-Docker 4s;
  -webkit-animation: Animate-Docker 4s;
  -moz-animation: Animate-Docker 4s;
  -o-animation: Animate-Docker 4s;
  border-radius: 20px;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Docker {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes Animate-Docker {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
@-moz-keyframes Animate-Docker {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
@-o-keyframes Animate-Docker {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
#Skill-Kubernetes {
  animation: Animate-Kubernetes 4s;
  -webkit-animation: Animate-Kubernetes 4s;
  -moz-animation: Animate-Kubernetes 4s;
  -o-animation: Animate-Kubernetes 4s;
  border-radius: 20px;
  width: 50%;
  height: 50px;
  position: absolute;
  background-color: #6c63ff;
}
@keyframes Animate-Kubernetes {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes Animate- {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes Animate-Kubernetes {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes Animate-Kubernetes {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
.Skill-Area {
  z-index: 1;
  float: left;
  /* position: absolute; */
  margin-top: 8px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
}

@media only screen and (max-width: 950px) {
  body,
  html {
    text-align: center;
    font-size: 16px;
    line-height: normal;
  }
}

footer {
  padding-top: 2%;
  color: #868e96;
  text-align: center;
}
